#!/usr/bin/make -f

%:
	dh $@  --with autoreconf

override_dh_strip:
	dh_strip -plibhidapi-libusb0 --dbg-package=libhidapi-libusb0-dbg
ifeq ($(DEB_HOST_ARCH_OS), linux)
	dh_strip -plibhidapi-hidraw0 --dbg-package=libhidapi-hidraw0-dbg
endif

COMMIT := a88c7244d632ed238b829968be9b765605b53c34
TMPTAR := hidapi.tar.gz
DEBVER := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2 \
	| cut -d- -f1)

# Download source from GitHub, remove non-free files, and repack in Deb format
get-orig-source:
	wget -q https://github.com/signal11/hidapi/archive/$(COMMIT)/$(TMPTAR)
	tar zxf $(TMPTAR)
	rm $(TMPTAR)
	rm hidapi-$(COMMIT)/windows/ddk_build/makefile
	rm hidapi-$(COMMIT)/testgui/mac_support.cpp
	mv hidapi-$(COMMIT) hidapi-$(DEBVER)
	tar cf hidapi_$(DEBVER).orig.tar hidapi-$(DEBVER)
	rm -r hidapi-$(DEBVER)
	bzip2 -9 hidapi_$(DEBVER).orig.tar
